<!OCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/styler.css') }}">
    <title>island4u</title>
    <link rel="icon" href="static/images/icon.png">
</head>
<body>
    <form action="{{ url_for('add_product') }}" method="post" enctype="multipart/form-data">

        <input type="hidden" name="user_id" value="{{ current_user.id }}">

        <label for="name">Description</label>
        <input type="text" id="name" name="name" required>

        <br>

	<label for="name">City</label>
	<input type="text" id="city" name="city" required>

	<br>

        <label for="price"> Price</label>
        <input type="number" id="price" name="price" step="0.01" required>

        <br>

	<label for="num_rooms">Number of Rooms in house </label>
	<input type="number" id="num_rooms" name="num_rooms" required>

	<br>

	<label for="section">Home section</label>
	<input type="number" id="section" name="section" required>

	<br>

	<label for="num_bain">Number of Bathrooms</label>
	<input type="number" id="num_bain" name="num_bain" required>

	<br>

	<label for="window_per_house">Number of Windows in house</label>
	<input type="number" id="window_per_house" name="window_per_house" required>

	<br>

        <label for="image">House Image</label>
        <input type="file" id="image" name="image" accept="image/*" required >

        <br>

        <input type="submit" value="Add Product">
	
	<br>
	<a href="{{ url_for('user') }}">Back to user</a>
    </form>
</body>
</html>
