<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add your head content, stylesheets, etc. -->
</head>
<body>
    <h1>Welcome, {{ user.username }}!</h1>

    <h2>Your Products:</h2>

    {% for product in user_products %}
        <div class="product">
            <h3>{{ product.name }}</h3>
            <p>Price: ${{ product.price }}</p>
            <p>Number of Rooms: {{ product.num_rooms }}</p>
            <p>Number of Salons: {{ product.num_salon }}</p>
            <p>Number of Bathrooms: {{ product.num_bain }}</p>
            <p>Windows per Chamber: {{ product.window_per_chamber }}</p>
	    
	    {% if product.image_path %}
	         <a href="">
			 <img src="{{ url_for('serve_image', filename=product.image_path.split('/')[-1]) }}" alt="Product Image"/>
		 </a>
	    {% endif %}
            <!-- Add other product details as needed -->
        </div>
    {% endfor %}
</body>
</html>

