<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard.css') }}">
		<script src="{{ url_for('static', filename='script/dashboard.js') }}" defer></script>
		<link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
		<link rel="icon" href="static/images/icon.png">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha384-vnoVe40YO5Db/Y46xi5RXL5JPFREOpXwkjk9aOtBM1y6QKExJKR9a3eDAV+s4vC" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.21.0/font/bootstrap-icons.css" rel="stylesheet">
		<title>Dashboard</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<img src="./static/images/icon.png" alt="logo" >
			</div>
			<div class="nav-icon">
				<a onclick="window.location.href='{{ url_for('dashboard') }}'"><i class='bx bx-home'></i></a>
				<a onclick="window.location.href='{{ url_for('user') }}'"><i class='bx bx-user'></i></a>
				<a onclick="window.location.href='{{ url_for('exit') }}'"><i class='bx bx-exit'></i></a>
				<div class="bx bx-menu" id="menu-icon"></div>
			</div>
		</header>
		<section class="inside">
			<a href="{{ url_for('add_product') }}" class="add-product-button">
				          <i class="fas fa-plus"></i> Add Product
			</a>

				{% for product in user_products %}
				<div class="card">
					<img class="product-image" src="{{ url_for('serve_image', filename=product.image_path.split('/')[-1]) }}" alt="Product Image">
					<div class="product-info">
						<h3><i class='bx bxs-building-house' ></i>{{ product.name }}</h3>
						<p><i class="fa-solid fa-euro-sign"></i> Price: ${{ product.price }}</p>
						<p><i class="fa-solid fa-city"></i> City: {{ product.city }}</p>
						<p><i class="fa-solid fa-bed"></i> Number of Rooms: {{ product.num_rooms }}</p>
						<p> Number of Salons: {{ product.num_salon }}</p>
						<p><i class="fa-solid fa-bath"></i> Number of Bathrooms: {{ product.num_bain }}</p>
						<p><i class='bx bx-window'></i> Windows per Chamber: {{ product.window_per_chamber }}</p>
					</div>
				</div>
				{% endfor %}
			
		</section>
	</body>
</html>

