<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard.css') }}">
		<script src="{{ url_for('static', filename='script/script.js') }}" defer></script>
		<script src="{{ url_for('static', filename='script/dashboard.js') }}" defer></script>
                <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
                <link rel="icon" href="static/images/icon.png">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha384-vnoVe40YO5Db/Y46xi5RXL5JPFREOpXwkjk9aOtBM1y6QKExJKR9a3eDAV+s4vC" crossorigin="anonymous">
                <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
                <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.21.0/font/bootstrap-icons.css" rel="stylesheet">
                <title>Dashboard</title>
        </head>
        <body>
                <header>
                        <div class="logo">
                                <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Icon">
                        </div>
                        <div class="nav-icon">
                                <a onclick="window.location.href='{{ url_for('dashboard') }}'"><i class='bx bx-home'></i></a>
                                <a onclick="window.location.href='{{ url_for('user', username=current_user.username) }}'"><i class='bx bx-user'></i></a>
                                <a onclick="window.location.href='{{ url_for('exit') }}'"><i class='bx bx-exit'></i></a>
                                <div class="bx bx-menu" id="menu-icon"></div>
                        </div>
                </header>
		<div class="container1">
			{% if current_user.Icover %}
			             <img src="{{ url_for('serve_image', filename=user_icover.imagecover_path.split('/')[-1]) }}" alt="Imagecover">
			{% else %}
			             <p>No profile image available</p>
			{% endif %}
		    <i class="fa-solid fa-pen" onclick="openModal('myModal1')"></i>
		    <div class="circle">
			    {% if current_user.Iprofile %}
				     <img src="{{ url_for('serve_image', filename=user_iprofile.imageprofile_path.split('/')[-1]) }}" alt="Imageprofile">
			    {% else %}
			             <p>No profile image available</p>
			    {% endif %}
			    <i class="fa-solid fa-camera" onclick="openModal('myModal2')"></i>
		    </div>
		</div>
		<div class="modal" id="myModal1" onclick="closeModal('myModal1')">
			<div class="modal-content" onclick="event.stopPropagation();">
				<span class="close" onclick="closeModal('myModal1')">&times;</span>
				<div class="cont">
				    <form action="{{ url_for('add_imagecover') }}" method="post" enctype="multipart/form-data">
				      <a>
					<p>-------</p>
					<label for="coverInput" class="file-label">
						<span id="fileText1" class="file-text"></span>
						<i class="fa-solid fa-photo-film" style="color:  #000000; font-size: 25px; margin-bottom: 50px;" onclick="document.getElementById('coverInput').click();"></i>
						<input type="file" id="coverInput" name="image" class="coverimage" onchange="displayImage('coverPreview1', this)">
					</label>
					<img src="" alt="Cover Photo" id="coverPreview1" style="max-width: 40%; border: 1px solid #ccc;  margin-top: 20px; border-radius: 10px; display: none;">
				      </a>
				      <button type="submit">
					      <i class="fa-regular fa-paper-plane" style="font-size: 25px; color: #00bfff;"></i>
					      submit
				      </button>
				    </form>
				</div>
			</div>
		</div>
                <div class="modal" id="myModal2" onclick="closeModal('myModal2')">
			<div class="modal-content" onclick="event.stopPropagation();">
				<span class="close" onclick="closeModal('myModal2')">&times;</span>
				<div class="cont">
				   <form action="{{ url_for('add_imageprofile') }}" method="post" enctype="multipart/form-data">
				      <a>
					<p>-------</p>
					<label for="profileInput" class="file-label">
						<span id="fileText2" class="file-text"></span>
						<i class="fa-solid fa-photo-film"  style="color:  #000000; font-size: 25px; margin-bottom: 50px;" onclick="document.getElementById('profileInput').click();"></i>
						<input type="file" id="profileInput" name="image" class="profilimage" onchange="displayImage('profilePreview2', this)">
					</label>
					<img src="" alt="Profile Photo" id="profilePreview2" style="max-width: 40%; display: none; border: 1px solid #ccc; margin-top: 20px; border-radius: 10px;">
				      </a>
				      <button type="submit">
					  <i class="fa-regular fa-paper-plane" style="font-size: 25px; color: #00bfff;"></i>
					   Submit
				      </button>
				   </form>
				</div>
			</div>
		</div>
                <a href="{{ url_for('add_product') }}">
                        <div class="acourd">
                                <i class="fas fa-plus-circle add-product-icon" style="font-size: 30px; "> </i>
                                <p>Add your house to sale</p>
                        </div>
                </a>
                <section class="inside">
                                {% for product in user_products %}
                                <div class="card">
                                     {% if product.image_path %}
                                        <img class="product-image" src="{{ url_for('serve_image', filename=product.image_path.split('/')[-1]) }}" alt="Product Image">
                                     {% else %}
                                              <p>No Image Available</p>
                                     {% endif %}
                                        <a style="max-width: 300px; margin-right: 15px;">
                                                <i class='bx bx-key' style="font-size: 38px"></i><p>   {{ product.name }} </p>
                                        </a>
                                        <div class="product-info">
                                                       <li style="border-bottom: 1px solid #ccc; margin-bottom: 30px;">
                                                                <i class="fa-solid fa-sack-dollar" style="font-size: 35px;"></i>   {{ product.price }} dhs
                                                       </li>
                                                       <p style="margin-bottom: 30px;">
                                                                <i class='bx bx-buildings'></i>   {{ product.city }}
                                                       </p>
                                                       <a style="border: 1px solid #ccc; border-radius: 20px; padding: 20px;">
                                                                 <p style="border-bottom: 1px solid #ccc; margin-bottom: 20px;">
                                                                        <i class="fa-solid fa-bed"></i> {{ product.num_rooms }}
                                                                        <i class="fa-solid fa-grip-lines-vertical" style="color: #ccc; font-size: 25px; margin-left: 30px; margin-right: 30px"></i>
                                                                        <i class="fa-solid fa-ruler-combined"></i>    {{ product.section }} m²
                                                                 </p>
                                                                 <p style="margin-bottom: 20px; margin-bottom: 20px;">
                                                                        <i class="fa-solid fa-bath"></i>    {{ product.num_bain }}
                                                                        <i class="fa-solid fa-grip-lines-vertical" style="color: #ccc; font-size: 25px; margin-left: 30px; margin-right: 30px;"></i>
                                                                        <i class="fa-solid fa-warehouse"></i>     {{ product.window_per_house }}
                                                                 </p>
                                                       </a>
                                                       <form action="{{ url_for('delete_product', product_id=product.id) }}" method="post"
                                                               onsubmit="return confirm('Are you sure you want to delete this product?')">
                                                               <button type="submit" class="delete-product-button">
                                                                       <i class="fas fa-trash"></i> Delete Product
                                                               </button>
                                                       </form>
                                        </div>
                                </div>
                                {% endfor %}

                </section>
        </body>
        <footer>
                <p>&copy; 2024 Hassan BOUDRAA. All rights reserved.</p>
        </footer>
</html>
