<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/dashboard.css">
		<link rel="icon" href="static/images/icon.png">
		<title>Dashboard</title>
	</head>
	<body>
		<header>
			<div class="header-content">
				<h1>Dashboard</h1>
				<div class="header-buttons">
					<button onclick="window.location.href='dashboard.html'">Dashboard</button>
					<button onclick="window.location.href='user.html'">User</button>
				</div>
		</header>
		<div class="container">
			<div class="card">
				<h2>Card 1</h2>
				<p>Content for Card 1</p>
			</div>
			<div class="card">
				<h2>Card 2</h2>
				<p>Content for Card 2</p>
			</div>
			<div class="card">
				<h2>Card 3</h2>
				<p>Content for Card 3</p>
			</div>
		</div>
	</body>

</html>
