<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/styler.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard.css') }}">
		<script src="{{ url_for('static', filename='script/dashboard.js') }}" defer></script>
		<link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
		<link rel="icon" href="static/images/icon.png">
		<title>Dashboard</title>
	</head>
	<body>
		<header>
			<div class="header-content">
				<div class="header-buttons-dash">
					<button onclick="window.location.href='{{ url_for('dashboard') }}'">home</button>
				</div>
				<div class="header-buttons-user">
					<button onclick="window.location.href='{{ url_for('user') }}'">profile</button>
				</div>
			</div>
		</header>
		<section class="inside">
			<div class="container">
				<div class="card">
					<h2>Card 1</h2>
					<p>Content for Card 1</p>
				</div>
				<div class="card">
					<h2>Card 2</h2>
					<p>Content for Card 2</p>
				</div>
			</div>
		</section>
	</body>

</html>
